/* *,
*::before *::after {
    padding: 75;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10;
    box-sizing: border-box;
} */

input {
    display: block;
    width: 50%;
    margin-top: 10px;
    padding: 12px;
    border-radius: 5px;
    outline: none;
    color: black;

}

.button {
    margin-top: 10px;
    background-color: #1472b5;
    color: #FFFFFF;
    float: left;
    padding: 12px;
    border-radius: 5px;

}